{% extends 'base.html.twig' %}

{% block body %}
    <div id="listdrive">
        <ul>
        {% for mediaDrive in mediaDrives %}
            <li class='folder' data-href="/listfolders/{{ mediaDrive.getId() }}">
                ƒ {{ mediaDrive.getMediaFileBaseFolder() }}
            </li>
        {% endfor %}
            </ul>
    </div>

    <div id="listfolder">
        <div class="close">
            <a href="#" onclick="$('#listfolder .canvas').html('');$('#listfolder').css({display:'none'}); $('#listdrive').css('display','block'); return false;">
                CLOSE</a></div>
        <div class="canvas"></div>
    </div>

    <div id="listfiles">
        <div class="close">
            <a href="#" onclick="$('#listfiles .canvas').html('');$('#listfiles').css({display:'none'}); $('#listfolder').css('display','block');return false;">
                CLOSE</a></div>
        <div class="canvas"></div>
    </div>

{% endblock %}
