<ul>
    {% for mediaFolder in mediaFolders %}
        {% set folderTitle = mediaFolder.getBeautifulTitle() %}
        <li class="files" data-href="/listimages/1/{{ mediaFolder.getId() }}">
            ƒ {{ folderTitle }}
        </li>
    {% endfor %}
</ul>
