{% spaceless %}
<ul>
    {% for mediaFile in mediaFiles %}
        {% set mediaFolder=mediaFile.getMediaFolder() %}

        {% set previewFullPath=mediaFile.getFullWebPath('preview') %}
        {% set thumbnailFullPath=mediaFile.getFullWebPath('thumbnail') %}

        {% set mediaCssClass="fancybox" %}
        {% if mediaFile.getMediaType()=='movie' %}
            {% set mediaCssClass="fancybox fancybox.iframe" %}
        {% endif %}

        <li>
            <a data-mediatype="{{ mediaFile.getMediaType() }}" class="{{ mediaCssClass }}" rel="group"
               href='{{ previewFullPath }}'>
                <img src='{{ thumbnailFullPath }}' alt=""/>
            </a>
        </li>
    {% endfor %}
</ul>
{% endspaceless %}
